
body{
   margin:0;
   padding:0;
} 

#test{
    display: flex;
    height: 50px;
    flex-basis: 100%;
    background-color: black;
}
nav{
   margin-left: 100px;
}
li{
    display: inline;
    padding:80px;
 
}
#featured-article{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 500px;
    flex-basis: 100%;

}

#block-1{
 
    display: flex;
    flex-direction: row;
    height: 200px;
    flex-basis: 100%;
}
#block-2{

    display: flex;
    flex-direction: row;
    height: 200px;
    flex-basis: 100%;
}
#block-3{

    display: flex;
    flex-direction: row;
    height: 200px;
    flex-basis: 100%;
}
#block-4{
  
    display: flex;
    flex-direction: row;
    height: 200px;
    flex-basis: 100%;
}
#block-5{
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 200px;
    flex-basis: 100%;
}

#sub-block1{
    background-position: center;
    height: 200px;
    flex-basis: 40%;
}

#sub-block2{
   
    height:200px;
    flex-basis: 60%;
}
#sub-block3{
    background-position: center;
    height:200px;
    flex-basis:40%;
}
#sub-block4{
   
    height:200px;
    flex-basis: 60%;
}
#sub-block5{
    background-position: center;
    height:200px;
    flex-basis:40%;
}
#sub-block6{
   
    height:200px;
    flex-basis: 60%;
}
#sub-block7{
   background-position: center;
    height:200px;
    flex-basis:40%;
}
#sub-block8{
   
    height:200px;
    flex-basis: 60%;
}
#article1,#article2,#article3,#article4{
    font-size: 30px;
}


@media(max-width:800px){
     body{
         background-color: aqua;
     }
     #article1,#article2,#article3,#article4{
        font-size: 25px;
    }
}

/* @media(max-widht:750px){
    #article1,#article2,#article3,#article4{
        font-size: 10px;
    }
} */