
body{
    margin: 0;
    padding: 0;
}

body{
   margin:0;
}
#featured-article{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 500px;
    flex-basis: 100%;

}
#block-1{
    background-color: tomato;
    display: flex;
    flex-direction: row;
    height: 200px;
    flex-basis: 100%;
}

#block-1{
    background-color:orchid;
    display: flex;
    flex-direction: row;
    height: 200px;
    flex-basis: 100%;
}
#block-2{
    background-color: blue;
    display: flex;
    flex-direction: row;
    height: 200px;
    flex-basis: 100%;
}
#block-3{
    background-color: pink;
    display: flex;
    flex-direction: row;
    height: 200px;
    flex-basis: 100%;
}
#block-4{
    background-color: tomato;
    display: flex;
    flex-direction: row;
    height: 200px;
    flex-basis: 100%;
}
#block-5{
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 200px;
    flex-basis: 100%;
}

#sub-block1{
    background-position: center;
    height: 200px;
    flex-basis: 40%;
}

#sub-block2{
    background-color: yellow;
    height:200px;
    flex-basis: 60%;
}
#sub-block3{
    background-color: white;
    height:200px;
    flex-basis:40%;
}
#sub-block4{
    background-color: red;
    height:200px;
    flex-basis: 60%;
}
#sub-block5{
    background-color: gray;
    height:200px;
    flex-basis:40%;
}
#sub-block6{
    background-color: yellowgreen;
    height:200px;
    flex-basis: 60%;
}
#sub-block7{
    background-color: wheat;
    height:200px;
    flex-basis:40%;
}
#sub-block8{
    background-color: purple;
    height:200px;
    flex-basis: 60%;
}